<div class="main-container">
    {{!-- <header class="main-header"> --}}
        <nav class="navigation">
            <ul>
                <li><a href="/temas/CuentasEstudiantes" class="nav-link"></a></li>
                <li><a href="/academia/cuentasestudiantes" class="nav-link">Cuentas de Estudiantes</a></li>
                <li><a href="/temas" class="nav-link">Temas</a></li>
                <li><a href="/test/addTest" class="nav-link">Crear Test</a></li>
                <li><a href="/test/listTest" class="nav-link">Ver Tests</a></li>
                <li><a href="/temas/RendimientoEstudiantes" class="nav-link">Rendimiento</a></li>
                <li><a href="/logout">Salir</a></li>
            </ul>
        </nav>
        {{!--
    </header> --}}
</div>
{{!-- {{/each}} --}}
<div id="main-content">

    <div class="container p-4 h-100">
        <div class="row h-75 d-flex align-items-center">
            <div class="col-md-4 mx-auto">
                <div class="card bg-dark">
                    <form action="/test/edit/{{test.id}}" method="POST" class="card-body">
                        {{! Title and save button }}
                        <div class="d-flex justify-content-between align-items-center mb-3 text-center">
                            <h1 class="text-light mb-3 h4  ">Crear Test</h1>
                        </div>
                        <label class="text-white" for="nombre">Nombre del Test:</label>
                        <input value="{{test.nombre}}" type="text" name="nombre" class="form-control bg-dark text-light mb-3"
                            placeholder="Nombre" autofocus />
                        <label class="text-white" for="descripcion">Tema:</label>
                        <select class="form-control" id="tema_id" name="tema_id" required>
                            <!-- Opciones de temas deben ser generadas dinámicamente desde la base de datos -->
                            {{!-- {{#each temas}} --}}
                            <option value="{{temas.id}}">{{temas.nombre}}</option>
                            {{!-- {{/each}} --}}
                        </select>
                        <button type="submit" class="btn btn-success mt-2">Guardar
                            Test</button>
                    </form>
                </div>
            </div>

        </div>
    </div>

</div>