<div class="main-container">
        {{!-- <header class="main-header"> --}}
            <nav class="navigation">
                <ul>
                    <li><a href="/temas/CuentasEstudiantes" class="nav-link"></a></li>
                    <li><a href="/academia/cuentasestudiantes" class="nav-link">Cuentas de Estudiantes</a></li>
                    <li><a href="/temas" class="nav-link">Temas</a></li>
                    <li><a href="/test/addTest" class="nav-link">Exámenes</a></li>
                    <li><a href="/temas/RendimientoEstudiantes" class="nav-link">Rendimiento</a></li>
                    <li><a href="/logout">Salir</a></li>
                </ul>
            </nav>
        {{!-- </header> --}}
    </div>
        {{!-- {{/each}} --}}
      <div id="main-content">
        <!-- El contenido de inicia en Blanco, luego al dar clic en Cuentas de Estudiantes, Temas, Exámenes, Rendimiento mostraría el contenido de /api/Docentes/CuentasEstudiantes,/api/Docentes/Temas, /api/Docentes/Examenes, /api/Docentes/RendimientoEstudiantes en la etiqueta div id="main-content"  -->

         
        <div class="container p-4 h-100">
          <div class="row h-75 d-flex align-items-center">
            <div class="col-md-4 mx-auto">
              <div class="card bg-dark">
                <form action="/temas/add" method="POST" class="card-body">
        
                  {{! Title and save button }}
                  <div class="d-flex justify-content-between align-items-center mb-3">
                    <h1 class="text-light mb-3 h4 ">Crear un curso</h1>
                    <button class="btn btn-success btn-block">
                      Save
                    </button>
                  </div>
                  <label class="text-white" for="nombre">Escribir un tema:</label>
                  <input
                    type="text"
                    name="nombre"
                    class="form-control bg-dark text-light mb-3"
                    placeholder="Nombre"
                    autofocus
                  />
                  <label class="text-white" for="descripcion">Escribir una descripcion:</label>
                  <textarea
                    name="descripcion"
                    rows="2"
                    class="form-control bg-dark text-light mb-3"
                    placeholder="Descripcion"
                  ></textarea>
                </form>
              </div>
            </div>
        
          </div>
        </div>




    </div>